HILTI_DATASET_PATH = "/mount/src/data/dataset2.xlsx"
HILTI_DISTRICT_PATH = "/mount/src/data/UK_postcode_districts.parquet"
HILTI_CASE_STUDY_PATH = "/mount/src/data/Hilti Case Study 2026.pdf"
API_BASE_URL = "https://your-app-name.onrender.com"
